.general-block {
    margin: auto;
    padding: 2%;
    border: 1px solid black;
}

.name-of-title {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}

.input-size {
    display: inline-flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.btn-calc {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}

.copy-close-result {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}
